.Image_Brightness,.Image_Saturation,.Image_Contrast,.Image_Rotate_Deg{
    width: 55rem;
    height: 4rem;
    background-color: crimson;
}

.BrightnessRange{
    width: 100%;
   accent-color: rgb(175, 170, 170);
}

.bubble{
    background: rgb(175, 170, 170);
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 35%;
}



@media only screen and (max-width:1280px) {
    .Image_Brightness,.Image_Saturation,.Image_Contrast,.Image_Rotate_Deg{
        width: 55rem;
        height: 4rem;
        background-color: crimson;
    }
    .bubble{
        background: rgb(175, 170, 170);
        color: white;
        padding: 4px 12px;
        position: absolute;
        border-radius: 4px;
        left: 35%;
    }
}

@media only screen and (max-width:768px) {
    .Image_Brightness,.Image_Saturation,.Image_Contrast,.Image_Rotate_Deg{
        width: 35rem;
        height: 4rem;
        background-color: rgb(11, 217, 70)
    }
    .bubble{
        background: rgb(175, 170, 170);
        color: white;
        padding: 4px 12px;
        position: absolute;
        border-radius: 4px;
        left: 40%;
    }    
}

@media only screen and (max-width:480px) {
    .Image_Brightness,.Image_Saturation,.Image_Contrast,.Image_Rotate_Deg{
        width: 25rem;
        height: 4rem;
        background-color: rgb(52, 11, 219);
    }
    .bubble{
        background: rgb(175, 170, 170);
        color: white;
        padding: 4px 12px;
        position: absolute;
        border-radius: 4px;
        left: 35%;
    }    
}